
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 33% 7%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 263 85% 75%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  canvas {
    display: block;
  }

  .key {
    @apply relative flex items-center justify-center w-16 h-20 mx-1 bg-white text-black rounded-md 
    border border-gray-300 cursor-pointer select-none 
    transition-all duration-100 ease-in-out shadow-md;
  }

  .key:active, .key.active {
    @apply bg-visualizer-primary text-white transform scale-95 shadow-inner;
  }

  .key-hint {
    @apply absolute bottom-2 text-xs font-semibold text-gray-500;
  }

  .key:active .key-hint, .key.active .key-hint {
    @apply text-white;
  }
}
